* {
    margin: 0;
}

main {
    background-color: rgb(224, 224, 172);
}

header,footer {
    font-size: 1.3em;
    background-color: rgb(8, 8, 71);
}

nav {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.three {
    background-color: rgb(240, 199, 20);
    padding: 10px;
    border-radius: 5px;
}

footer nav div {
    padding: 20px;
}

@media screen and (max-width:996px) {
    header,footer {
        font-size: 0.9em;
    }

    nav {
        gap: 20px;
    }

    footer nav div {
        padding: 10px;
    }
    
}